nav {
  overflow-x: hidden;
}

.dsp button {

  margin-bottom: 5px;


}

.pag {

  margin-left: auto;
  margin-right: auto;
  float:right;
  width: 500px;

}

a {
  margin-right: 30px;
  text-decoration: none;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

button {

  margin-left: 10px;
  background-color: #152039;
  color: white;
  border: none;
  font-weight: 20px;
  border-radius: 10px;

  margin-right: 15px;
  size: 30px;



}

.rectangle {
  background-color: #152039;
  color: aliceblue;
  border: 30px;
  border-color: red;
  border-radius: 30px;
}

input {
  margin-right: 10px;
}

label {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.circle {
  background-color: #152039;
  /* Green */
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%
}

.btn-class:hover {

  background-color: grey;

}


.text {
  color: #152039;
  font-family: Poppins;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boasVindas {
  display: flex;
  width: 679px;
  height: 55px;
  flex-direction: column;
  flex-shrink: 0;
}


[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}

[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #130945;
  color: #FFFFFF;
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #130945;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}

[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #130945;
}

[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}

[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}

[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #130945;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #130945;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}

[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}

[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}