<h1>BUSCAR AGENDAMENTOS</h1>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card">
            <div class="card-header p-3">
              <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
  
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Team Member</th>
                    <th scope="col">Task</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Priority</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2">Alice Mayer</span>
                    </th>
                    <td class="align-middle">
                      <span>Call Sam For payments</span>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2">Kate Moss</span>
                    </th>
                    <td class="align-middle">Make payment to Bluedart</td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th>
                      
                      <span class="ms-2">Danny McChain</span>
                    </th>
                    <td class="align-middle">Office rent</td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2">Alexa Chung</span>
                    </th>
                    <td class="align-middle">Office grocery shopping</td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th class="">
                      
                      <span class="ms-2">Ben Smith</span>
                    </th>
                    <td class="align-middle">Ask for Lunch to Clients</td>
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                    </td>
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                  <tr class="fw-normal">
                    <th class="border-0">
                      
                      <span class="ms-2">Annie Hall</span>
                    </th>
                    <td class="border-0 align-middle">Create weekly tasks plan</td>
                    <td class="border-0 align-middle">
                      <h6 class="mb-0"><span class="badge bg-warning">Medium priority</span></h6>
                    </td>
                    <td class="border-0 align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-check text-success me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                          class="fas fa-trash-alt text-warning"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
  
            </div>
            <div class="card-footer text-end p-3">
              <button class="me-2 btn btn-link">Cancel</button>
              <button class="btn btn-primary">Add Task</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>