button {
    margin-left: 10px;
    background-color: #152039;
    color: white;
    border: none;
}

.boasVindas {
    display: flex;
    width: 679px;
    height: 55px;
    flex-direction: column;
    flex-shrink: 0;
}