.box {
  display: flex;
  flex-direction: row;

}


.logo {

 padding: 1%;
  cursor: pointer;
  flex: 1 1 0;


}


.copyright {
  
  white-space: nowrap;
  padding: 1%;
  flex: 5 1 0;


}

@media (max-width: 800px) {
  .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  
  }
}