* {
  box-sizing: border-box;
}

.show-grid {
  padding: 10px;
  

}

.show-grid .row {
  margin-bottom: 15px;

}

img{
margin-left: auto;
  margin-right: auto;
  border: black solid;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
 align-content: center;
  place-items: center;
  border: 1px solid #2d2d2d;
  display: grid;
  justify-content: center;
}

.boasVindas {
  color: #152039;
  font-size: 64px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}